 <!-- News Section -->
    <section class="success" id="about">
        <div class="container">
            <!-- About -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="text-justify">
                        PlantSat is a contribution to the ongoing human efforts of exploring, understanding and eventually
                        colonizing Mars. Its goal is to study in low earth orbit the growth of a suitable plant,
                        replicating the conditions that life will experience on Mars surface.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p class="text-justify">
                        These conditions include a lower gravity force and higher solar radiation. Plantsat is a joint
                        project between the researcher Mr. Matthew Lehmitz, the company Gomspace, the University of
                        Chile, and the company RocketLab.
                    </p>
                </div>
            </div>
            <!-- About the plant -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About the plant</h3>
                    <hr class="star-light">
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="text-justify" style="margin-top: 1em">
                        The proposed plant genus for PlantSat is
                        <a style="color: white" href="https://en.wikipedia.org/wiki/Tillandsia"><i>Tillandsia</i></a>.
                        This is a hardy genus that can be found all across the neotropics,  high up in the mountains of
                        the Andes and down to the shores of the Atacama desert.  This hardiness and versatility makes it
                        an excellent candidate for survival in harsh environments.
                    </p>
                </div>
                <div class="col-lg-4">
                    <img class="img-responsive img-circle" width="250px" src="img/plant.jpg">
                </div>
            </div>
            <!-- About the satellite -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>About the satellite</h3>
                    <hr class="star-light">
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <img class="img-responsive img-circle" style="margin-left: 5em" width="250px" src="img/satellite.jpeg">
                </div>
                <div class="col-lg-4">
                    <p class="text-justify" style="margin-top: 2em">
                        The satellite will be a 3 units cubesat with a GomSpace type BUS using a SUCHAI configuration
                        and Flight Software. One of its units will be specially adapted to host a biosphere payload
                        which is under development.
                    </p>
                </div>
                <div class="col-lg-12 text-center">
                    <h4>Radio amateur</h4>
                    <!--<hr class="star-light">-->
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <p>Frequency: TBD</p>
                    <p>Modulation: GMFSK</p>
                    <p>Datarate: 9600 bps</p>
                </div>
                <div class="col-lg-4 text-center">
                    <p>Beacon: FM</p>
                    <p>Period: 60 seconds</p>
                    <p>Protocol: Cubesat Space Protocol</p>
                </div>
            </div>
        </div>
    </section>
