 <!-- News Section -->
    <section class="success" id="about">
        <div class="container">
            <!-- About -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="text-justify">
                        The Internet of Things (IoT) is a rapidly developing area of communication. The IoT involves the
                        internetworking of physical devices embedded with electronics, software, and sensors that exchange data.

                    </p>
                    <p class="text-justify">
                        The IoT connects devices through the Internet, enabling remote monitoring and control through
                        cloudbased control systems. The IoT is becoming increasingly suitable in indoor areas and metropolitan areas
                        due to the availability of cellphone networks, Wi-Fi, and other short- and mid-range technologies that
                        facilitate communication ....test
                    </p>
                </div>
            </div>
            <!-- Topics -->
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Topics</h3>
                    <hr class="star-light">
                </div>
                <div class="col-lg-12 text-center">
                    <p class="text-justify">
                        The first workshop focused
                        on the potential coordination of the multinational Internet of Space Things (IoST) network, exploring
                        the potentials of LPWA such as the LoRa radio technique and standardized satellites, or CubeSats
                        <p>Topic 1</p>
                        <p>Topic 2</p>
                        <p>Topic 3</p>
                    </p>
            </div>
        </div>
    </section>
