 <!-- News Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>PlantSat is a contribution to the ongoing human assignment of Mars exploring, understanding and colonizing. Its goal is to study the growth of a suitable plant in orbit, attempting to replicate conditions that plants might find on Mars surface.</p>
                </div>
                <div class="col-lg-4">
                    <p>This means low gravity force and the high solar radiation due to its lack of a dense atmosphere. It is a joint project between the researcher Mr. Matthew Lehmitz, University of Chile, and the companies RocketLab and GomSpace.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Radio amateur</h3>
                    <hr class="star-light">
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Frequency: TBD</p>
                    <p>Modulation: GMFSK</p>
                    <p>Datarate: 9600 bps</p>
                </div>
                <div class="col-lg-4">
                    <p>Beacon: FM</p>
                    <p>Period: 60 seconds</p>
                    <p>Protocol: Cubesat Space Protocol</p>
                </div>
            </div>
        </div>
    </section>
