 <!-- News Section -->
    <section class="portfolio" id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Important Dates</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-justify">
                    <ul>
                        <li><b>February 15th</b>: Abstract submission <b>deadline for oral presentation</b>at the workshop.
                            Details: Send title, authors and abstract (max 1000 words) to <b>spel.uchile@gmail.cl</b></li>
                        <li>March 4th: Abstract acceptance notification</li>
                        <li><b>March 8th</b>: Deadline to <b>accept oral presentation</b> and register - also by email. (<b>Registration is free</b>)</li>
                        <li>March 12th: Publication of the final workshop program</li>
                    </ul>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Program</h3>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-12 text-center">
                    Stay tuned.
                </div>
        </div>
    </section>

 <!--<a class="twitter-grid" data-width="600" data-limit="5" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets</a> -->
 <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

 <!--<a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a>-->
 <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
