 <!-- News Section -->
    <section class="portfolio" id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Important Dates</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 table-responsive-sm">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th scope="row"><p>February 15th, 2024</p><p>(<b>Extended to February 22nd!</b>)</p></th>
                            <td><p>Abstract submission <b>deadline for oral presentation</b> at the workshop.
                                Details: Send title, authors and abstract (max 1000 words) to <b>spel.uchile@gmail.com</b></p></td>
                        </tr>
                        <tr>
                            <th scope="row"><p>March 4th, 2024</p></th>
                            <td><p>Abstract acceptance notification</p></td>
                        </tr>
                        <tr>
                            <th><p>March 8th, 2024</p></th>
                            <td><p>Deadline to <b>accept the invitation for oral presentations</b> and register - also by email. (<b>Registration is free</b>)</p></td>
                        </tr>
                        <tr>
                            <th scope="row"><p>March 12th, 2024</p></th>
                            <td><p>Publication of the final workshop program</p></td>
                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"><p>April 3rd, 2024</p></th>
                            <td><p>Pre-workshop activities</p></td>
                        </tr>
                        <tr>
                            <th><p>April 4th and 5th, 2024</p></th>
                            <td><p>The workshop will be held on these days</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Program</h3>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-12 text-center">
                    <p>								
<p>								
		
<br>								

	<p align="center"> <b>		<strong>		Preliminary programme	</strong><br />	</b></p>	
	<p align="center"> <b>			INTERNATIONAL WORKSHOP			</b></p>	
	<p align="center"> <b>			1st IoST Workshop: Building bridges for a global network			</b></p>	
								
<br>								
</b></p>
								
<div class="container">								
	<p align="left ">							
Place: Av. Beauchef 851, Santiago, Región Metropolitana, Chile. Sala B06 (Hybrid)
		<br>
Date: 4 and 5 April 2024 ( 9:45 - 16:30)
										
								
</div>								
<table width="100%">								
<tbody>								
<tr>								
								
<br>
<div class="container">	
 	<p align="left ">														</td>				</td>	<br />

<td width="100"></td>
	 <b> Day 1, Thursday, April 4 </b> </li>							
<br>	

<tr>		9:30 – 9:45	&nbsp;		Participants registration.	<br />																						
<tr>		9:45 – 10:00	&nbsp;		Welcome words.	PhD Marcos Diaz.	Space and Planetary Exploration Laboratory.	<br />	
<tr>			&nbsp;										<br />																							
<tr>			&nbsp;		<b>Panel 1</b>									<br />																						
<tr>		10:00 – 10:20	&nbsp;		Incorporation of Internet of Space Things (IoST) into the development of the national satellite system (SNSAT).	Colonel (I) Hernan Tello Sepulveda .	Chilean Air Force.	<br />																						
<tr>		10:20 – 10:40	&nbsp;		Status of the activities in Chile related to Internet of Space Things (IoST).	PhD Marcos Díaz.	Space and Planetary Exploration Laboratory.	<br />																						
<tr>		10:40 – 11:00	&nbsp;		TBD.	TBD.	ArkEdgeSpace.	<br />																						
<tr>		11:00 – 11:40	&nbsp;		Break									<br />		
<tr>			&nbsp;										<br />																						
<tr>			&nbsp;		<b>Panel 2</b>									<br />																						
<tr>		11:40 – 12:00	&nbsp;		Channel Modeling in IoT Deployments Supported by LEO Nanosatellites.	Dr. César Azurdia.	Department of Electrical Engineering of the University of Chile.	<br />																						
<tr>		12:00 – 12:20	&nbsp;		Satellite positioning using IoT signals.	PhD (c) Rodrigo Muñoz.	Space and Planetary Exploration Laboratory.	<br />																						
<tr>		12:20 – 12:50	&nbsp;		Group discussion activity (PhD Marcos Diaz & PhD Sofía Vargas)									<br />																						
<tr>		12:50 – 14:00	&nbsp;		Lunch									<br />		
<tr>			&nbsp;										<br />																						
<tr>			&nbsp;		<b>Panel 3</b>									<br />																						
<tr>		14:00 – 14:20	&nbsp;		Impact of space weather effects on IoST performance.	PhD Juan Carlos Valdés.	Space and Planetary Exploration Laboratory.	<br />																						
<tr>		14:20 – 14:40	&nbsp;		Improving the initial calibration of attitude estimation for an IoT CubeSat.	PhD (c) Elías Obreque.	Space and Planetary Exploration Laboratory.	<br />																						
<tr>		14:40 – 15:00	&nbsp;		Reprogramming capabilities of a IoST CubeSat.	PhD Matías Vidal.	Space and Planetary Exploration Laboratory.	<br />																						
<tr>		15:00 – 15:20	&nbsp;		Using novel manufacturing technologies for CubeSat antennas: preliminary results.	PhD Francisco Pizarro.	Pontificial Catholic University of Valparaiso.	<br />																						
<tr>		15:20 – 15:40	&nbsp;	    TBD			TBD		Federico Santa María Technical University.	<br />
<tr>		15:40 – 16:00	&nbsp;		Coffee									<br />																						
<tr>		16:00 – 16:30	&nbsp;		Group discussion activity (PhD Marcos Diaz & PhD Sofía Vargas)						<br />																						
														<br />																						
										 <b> Day 2, Friday, April 5TH </b> </li><br />			

<tr>		9:30 – 9:45	&nbsp;	Participants registration.	<br />	
<tr>		9:45 – 10:00	&nbsp;	Welcome message.	University authority.	FCFM- U.de Chile.	<br />		
<tr>			&nbsp;										<br />	
<tr>			&nbsp;	<b>Panel 1</b>									<br />	
<tr>		10:00 – 10:20	&nbsp;	Zero digital GAP: what we are missing and how satellite technologies can help.	Claudio Araya San Martín (Subsecretario).	Subsecretaría de Telecomunicaciones.	<br />	
<tr>		10:20 – 10:40	&nbsp;	LoraWAN Use Cases and Deployment Experiences in Chile.	Tzu-Chiang Shen.	BlueShadows.	<br />	
<tr>		10:40 – 11:00	&nbsp;	Opportunities using narrow band technology in collaboration with the ham radio community in Chile.	Italo Mazzei.	Radio Amateurs Chile.	<br />	
<tr>		11:00 – 11:40	&nbsp;	Break									<br />	
<tr>			&nbsp;										<br />	
<tr>			&nbsp;	<b>Panel 2</b>									<br />	
<tr>		11:40 – 12:00	&nbsp;	IoST activities and its use to probe the Ionosphere.	PhD Marcos Diaz Quezada.	Space and Planetary Exploration Laboratory.	<br />	
<tr>		12:00 – 12:20	&nbsp;	Network of satellites.	TBD.	German Aerospace Center.	<br />	
<tr>		12:20 – 12:50	&nbsp;	Group discussion activity (PhD Marcos Diaz & PhD Sofía Vargas).							<br />	
<tr>		12:50 – 14:00	&nbsp;	Lunch									<br />		
<tr>			&nbsp;										<br />	
<tr>			&nbsp;	<b>Panel 3</b>									<br />	
<tr>		14:00 – 14:20	&nbsp;	Low-cost MicroPropulsion System and its opportunities in CubeSat for fine attitude correction.	Patricio Jara.	Space and Planetary Exploration Laboratory.	<br />	
<tr>		14:20 – 14:40	&nbsp;	Plasma Thruster for CubeSats.	Leopoldo Soto.	Comisión Chilena de Energía Nuclear.	<br />	
<tr>		14:40 – 15:00	&nbsp;	Challenges and restrictions in propulsion systems to correct the orbital altitude of IoT CubeSats.	Janis Licuime Rivera.	Space and Planetary Exploration Laboratory.	<br />	
<tr>		15:00 – 15:20	&nbsp;	Attitude Determination and System Control Methods for IoT Cubesat.	Felipe Díaz.	Space and Planetary Exploration Laboratory.	<br />	
<tr>		15:20 – 15:40	&nbsp;	Attitude determination systems for IoT nanosatellites.	PhD Samuel Gutierrez.	Space and Planetary Exploration Laboratory.	<br />	
<tr>		15:40 – 16:00	&nbsp;	Coffee									<br />	
<tr>		16:00 – 16:30	&nbsp;	Group discussion activity (PhD Marcos Diaz & PhD Sofía Vargas)									<br />	
<tr>			&nbsp;		
																																		
	</table>
</div>

                <div class="col-lg-12 text-center">
                    <h3>Download program</h3>
                    <a download="Preliminary programme" href="PROGRAMA_IOT_WORKSHOP A.docx "><p>Download (Docx)</p> </a>
                    <a download="Preliminary programme" href="PROGRAMA_IOT_WORKSHOP AA.pdf "><p>Download (PDF) </p></a>
                </div>
            </div>
        </div>
    </section>

 <!--<a class="twitter-grid" data-width="600" data-limit="5" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets</a> -->
 <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

 <!--<a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a>-->
 <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
