 <!-- News Section -->
    <section class="portfolio" id="info">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Important Dates</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 table-responsive-sm">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th scope="row"><p>February 15th, 2024</p><p>(<b>Extended to February 22nd!</b>)</p></th>
                            <td><p>Abstract submission <b>deadline for oral presentation</b> at the workshop.
                                Details: Send title, authors and abstract (max 1000 words) to <b>spel.uchile@gmail.com</b></p></td>
                        </tr>
                        <tr>
                            <th scope="row"><p>March 4th, 2024</p></th>
                            <td><p>Abstract acceptance notification</p></td>
                        </tr>
                        <tr>
                            <th><p>March 8th, 2024</p></th>
                            <td><p>Deadline to <b>accept the invitation for oral presentations</b> and register - also by email. (<b>Registration is free</b>)</p></td>
                        </tr>
                        <tr>
                            <th scope="row"><p>March 12th, 2024</p></th>
                            <td><p>Publication of the final workshop program</p></td>
                        </tr>
                        <tr>
                        <tr>
                            <th scope="row"><p>April 3rd, 2024</p></th>
                            <td><p>Pre-workshop activities</p></td>
                        </tr>
                        <tr>
                            <th><p>April 4th and 5th, 2024</p></th>
                            <td><p>The workshop will be held on these days</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Program</h3>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-12 text-center">
                    <p> <b>		<strong>		Preliminary programme	</strong><br />	</b></p>
                    <p> <b>			INTERNATIONAL WORKSHOP			</b></p>
                    <p> <b>			1st IoST Workshop: Building bridges for a global network			</b></p>

                    <p> Place: Av. Beauchef 851, Santiago, Región Metropolitana, Chile. Sala B06 (Hybrid) </p>
                    <p> Date: 4 and 5 April 2024 ( 9:45 - 16:30) </p>
                </div>
                <div class="col-lg-12 table-responsive-sm">
                     <style type="text/css">
                    .tg  {border-collapse:collapse;border-spacing:0;}
                    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                      overflow:hidden;padding:10px 5px;word-break:normal;}
                    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
                      font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
                    .tg .tg-fiw3{background-color:#FFF;color:#1F1F1F;text-align:left;vertical-align:bottom}
                    .tg .tg-k275{color:#1F1F1F;font-weight:bold;text-align:left;vertical-align:bottom}
                    .tg .tg-4bam{background-color:#FFF;text-align:center;vertical-align:bottom}
                    .tg .tg-kuuz{background-color:#ffffff;color:#000000;font-weight:bold;text-align:center;vertical-align:bottom}
                    .tg .tg-kcps{background-color:#FFF;text-align:left;vertical-align:bottom}
                    .tg .tg-soni{color:#1F1F1F;text-align:left;vertical-align:bottom}
                    .tg .tg-oo9c{background-color:#ffffff;text-align:center;vertical-align:bottom}
                    .tg .tg-8d8j{text-align:center;vertical-align:bottom}
                    .tg .tg-zpbw{color:#1F1F1F;text-align:left;vertical-align:top}
                    .tg .tg-0lax{text-align:left;vertical-align:top}
                    .tg .tg-j6zm{font-weight:bold;text-align:left;vertical-align:bottom}
                    .tg .tg-7zrl{text-align:left;vertical-align:bottom}
                    .tg .tg-p0hx{color:#222;text-align:left;vertical-align:bottom}
                    .tg .tg-n1r7{background-color:#FFF;font-weight:bold;text-align:center;vertical-align:bottom}
                    .tg .tg-mbfa{background-color:#FFF;color:#222;text-align:left;vertical-align:bottom}
                    </style>
                    <table class="tg">
                    <thead>
                      <tr>
                        <th class="tg-kuuz" colspan="4">Day 1, Thursday April 4  </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="tg-4bam"><span style="background-color:#FFF">9:30 - 9:45</span></td>
                        <td class="tg-fiw3"><span style="font-weight:normal;color:#1F1F1F;background-color:#FFF">Participants registration</span></td>
                        <td class="tg-kcps"></td>
                        <td class="tg-kcps"></td>
                      </tr>
                      <tr>
                        <td class="tg-4bam"><span style="background-color:#FFF">9:45 - 10:00</span></td>
                        <td class="tg-fiw3"><span style="font-weight:normal;color:#1F1F1F;background-color:#FFF">Welcome words</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">PhD Marcos Diaz</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Space and Planetary Exploration Laboratory</span></td>
                      </tr>
                      <tr>
                        <td class="tg-oo9c" colspan="4"><span style="font-weight:bold;color:#1F1F1F">Panel 1  </span></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">10:00 – 10:20</td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Incorporation of Internet of Space Things (IoST) into the development of the national satellite system (SNSAT)</span></td>
                        <td class="tg-fiw3"><span style="color:#1F1F1F;background-color:#FFF">Colonel (I) Hernan Tello Sepulveda</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Chilean Air Force</span></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j"><span style="font-weight:normal">10:20 – 10:40</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Status of the activities in Chile related to Internet of Space Things (IoST)</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">PhD Marcos Díaz</span></td>
                        <td class="tg-zpbw">Space and Planetary Exploration Laboratory</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">10:40 – 11:00</td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">TBD</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">TBD</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">ArkEdgeSpace</span></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">11:00 – 11:40</td>
                        <td class="tg-k275"><span style="color:#1F1F1F">Break</span></td>
                        <td class="tg-kcps"></td>
                        <td class="tg-kcps"></td>
                      </tr>
                      <tr>
                        <td class="tg-4bam" colspan="4"><span style="font-weight:bold;color:#1F1F1F">Panel 2&nbsp;&nbsp;</span></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">11:40 – 12:00</td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Channel Modeling in IoT Deployments Supported by LEO Nanosatellites</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Dr. César Azurdia</span></td>
                        <td class="tg-zpbw">Department of Electrical Engineering of the University of Chile</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">12:00 – 12:20</td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Satellite positioning using IoT signals</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">PhD (c) Rodrigo Muñoz</span></td>
                        <td class="tg-zpbw">Space and Planetary Exploration Laboratory</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">12:20 – 12:50</td>
                        <td class="tg-0lax">Group discussion activity (PhD Marcos Diaz &amp; PhD Sofía Vargas)</td>
                        <td class="tg-kcps"></td>
                        <td class="tg-kcps"></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">12:50 – 14:00</td>
                        <td class="tg-j6zm"><span style="font-weight:bold">Lunch</span></td>
                        <td class="tg-kcps"></td>
                        <td class="tg-kcps"></td>
                      </tr>
                      <tr>
                        <td class="tg-oo9c" colspan="4"><span style="font-weight:bold">Panel 3  </span></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">14:00 – 14:20</td>
                        <td class="tg-7zrl"><span style="font-weight:normal">Impact of space weather effects on IoST performance</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">PhD Juan Carlos Valdés</span></td>
                        <td class="tg-zpbw">Space and Planetary Exploration Laboratory</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">14:20 – 14:40</td>
                        <td class="tg-p0hx"><span style="font-weight:normal;color:#222">Improving the initial calibration of attitude estimation for an IoT CubeSat</span></td>
                        <td class="tg-7zrl"><span style="font-weight:normal">PhD (c) Elías Obreque</span></td>
                        <td class="tg-zpbw">Space and Planetary Exploration Laboratory</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">14:40 – 15:00</td>
                        <td class="tg-p0hx"><span style="font-weight:normal;color:#222">Reprogramming capabilities of a IoST CubeSat</span></td>
                        <td class="tg-7zrl"><span style="font-weight:normal">PhD Matías Vidal</span></td>
                        <td class="tg-zpbw">Space and Planetary Exploration Laboratory</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">15:00 – 15:20</td>
                        <td class="tg-7zrl"><span style="font-weight:normal">Using novel manufacturing technologies for CubeSat antennas: preliminary results</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">PhD Francisco Pizarro</span></td>
                        <td class="tg-zpbw">Pontificial Catholic University of Valparaiso</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">15:20 – 15:40</td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">TBD</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">TBD</span></td>
                        <td class="tg-0lax">Federico Santa María Technical University</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">15:20 – 16:00</td>
                        <td class="tg-j6zm"><span style="font-weight:bold">Coffee</span></td>
                        <td class="tg-kcps"></td>
                        <td class="tg-kcps"></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">16:00 – 16:30</td>
                        <td class="tg-0lax" colspan="3">Group discussion activity (PhD Marcos Diaz &amp; PhD Sofía Vargas)</td>
                      </tr>
                      <tr>
                        <td class="tg-n1r7" colspan="4"><span style="color:#1F1F1F;background-color:#FFF">Day 2, Friday April 5  </span></td>
                      </tr>
                      <tr>
                        <td class="tg-4bam"><span style="background-color:#FFF">9:30 - 9:45</span></td>
                        <td class="tg-kcps"><span style="font-weight:normal;background-color:#FFF">Participants registration</span></td>
                        <td class="tg-kcps"></td>
                        <td class="tg-kcps"></td>
                      </tr>
                      <tr>
                        <td class="tg-4bam"><span style="background-color:#FFF">9:45 - 10:00</span></td>
                        <td class="tg-7zrl"><span style="font-weight:normal">Welcome message</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">University authority</span></td>
                        <td class="tg-7zrl"><span style="font-weight:normal">FCFM- U.de Chile</span></td>
                      </tr>
                      <tr>
                        <td class="tg-oo9c" colspan="4"><span style="font-weight:bold">Panel 1  </span></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">10:00 – 10:20</td>
                        <td class="tg-7zrl"><span style="font-weight:normal">Zero digital GAP: what we are missing and how satellite technologies can help</span></td>
                        <td class="tg-mbfa"><span style="font-weight:normal;color:#222;background-color:#FFF">Claudio Araya San Martín (Subsecretario)</span></td>
                        <td class="tg-zpbw">Subsecretaría de Telecomunicaciones</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j"><span style="font-weight:normal">10:20 – 10:40</span></td>
                        <td class="tg-7zrl"><span style="font-weight:normal">LoraWAN Use Cases and Deployment Experiences in Chile</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Tzu-Chiang Shen</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">BlueShadows</span></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">10:40 – 11:00</td>
                        <td class="tg-7zrl"><span style="font-weight:normal">Opportunities using narrow band technology in collaboration with the ham radio community in Chile</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Italo Mazzei</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Radio Amateurs Chile</span></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">11:00 – 11:40</td>
                        <td class="tg-k275"><span style="color:#1F1F1F">Break</span></td>
                        <td class="tg-7zrl"></td>
                        <td class="tg-7zrl"></td>
                      </tr>
                      <tr>
                        <td class="tg-4bam" colspan="4"><span style="font-weight:bold">Panel 2&nbsp;&nbsp;</span></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">11:40 – 12:00</td>
                        <td class="tg-7zrl"><span style="font-weight:normal">IoST activities and its use to probe the Ionosphere</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">PhD Marcos Diaz Quezada</span></td>
                        <td class="tg-0lax">Space and Planetary Exploration Laboratory</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">12:00 – 12:20</td>
                        <td class="tg-7zrl"><span style="font-weight:normal">Network of satellites</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">TBD</span></td>
                        <td class="tg-0lax">German Aerospace Center</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">12:20 – 12:50</td>
                        <td class="tg-0lax">Group discussion activity (PhD Marcos Diaz &amp; PhD Sofía Vargas)</td>
                        <td class="tg-kcps"></td>
                        <td class="tg-kcps"></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">12:50 – 14:00</td>
                        <td class="tg-j6zm"><span style="font-weight:bold">Lunch</span></td>
                        <td class="tg-kcps"></td>
                        <td class="tg-kcps"></td>
                      </tr>
                      <tr>
                        <td class="tg-oo9c" colspan="4"><span style="font-weight:bold">Panel 3  </span></td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">14:00 – 14:20</td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Low-cost MicroPropulsion System and its opportunities in CubeSat for fine attitude correction</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Patricio Jara</span></td>
                        <td class="tg-0lax">Space and Planetary Exploration Laboratory</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">14:20 – 14:40</td>
                        <td class="tg-7zrl"><span style="font-weight:normal">Plasma Thruster for CubeSats</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Leopoldo Soto</span></td>
                        <td class="tg-0lax">Comisión Chilena de Energía Nuclear</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">14:40 – 15:00</td>
                        <td class="tg-7zrl"><span style="font-weight:normal">Challenges and restrictions in propulsion systems to correct the orbital altitude of IoT CubeSats</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Janis Licuime Rivera</span></td>
                        <td class="tg-0lax">Space and Planetary Exploration Laboratory</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">15:00 – 15:20</td>
                        <td class="tg-7zrl"><span style="font-weight:normal">Attitude Determination and System Control Methods for IoT Cubesat</span></td>
                        <td class="tg-soni"><span style="font-weight:normal;color:#1F1F1F">Felipe Díaz</span></td>
                        <td class="tg-0lax">Space and Planetary Exploration Laboratory</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">15:20 – 15:40</td>
                        <td class="tg-7zrl"><span style="font-weight:normal">Attitude determination systems for IoT nanosatellites</span></td>
                        <td class="tg-7zrl"><span style="font-weight:normal">PhD Samuel Gutierrez</span></td>
                        <td class="tg-0lax">Space and Planetary Exploration Laboratory</td>
                      </tr>
                      <tr>
                        <td class="tg-8d8j">15:40 – 16:00</td>
                        <td class="tg-j6zm"><span style="font-weight:bold">Coffee</span></td>
                        <td class="tg-kcps"></td>
                        <td class="tg-kcps"></td>
                      </tr>
                      <tr>
                        <td class="tg-4bam"><span style="background-color:#FFF">16:00 – 16:30</span></td>
                        <td class="tg-0lax" colspan="3">Group discussion activity (PhD Marcos Diaz &amp; PhD Sofía Vargas)</td>
                      </tr>
                    </tbody>
                    </table>
                </div>
                <div class="col-lg-12 text-center">
                    <h3>Download program</h3>
                    <a download="Preliminary programme" href="PROGRAMA_IOT_WORKSHOP A.docx "><p>Download (Docx)</p> </a>
                    <a download="Preliminary programme" href="PROGRAMA_IOT_WORKSHOP AA.pdf "><p>Download (PDF) </p></a>
                </div>
            </div>
        </div>
    </section>

 <!--<a class="twitter-grid" data-width="600" data-limit="5" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets</a> -->
 <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

 <!--<a class="twitter-timeline" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets - Curated tweets by TwitterDev</a>-->
 <!--<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
