 <!-- Contact Section -->
    <section id="location" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Location</h2>
                    <hr class="star-light">
                </div>
                <div class="col-lg-12 text-center">
                    <p> FCFM - Beuchef 850 - Santiago, RM, Chile</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-centered" height="450px" src="img/location.png">
                </div>
                <div class="col-lg-6">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d989.6218693416424!2d-70.66476868210154!3d-33.45769656774747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5034361e5f5%3A0x38f3d62ee43b1630!2sAv.%20Beauchef%20851%2C%208370458%20Santiago%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1sen!2scl!4v1685116947837!5m2!1sen!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>