
    <!-- Portfolio Grid Section -->
    <section id="organization">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Organization</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for company in site.collaborate %}
                    <div class="col-lg-4 portfolio-item text-center">
                        <a href="{{ company.site }}" class="portfolio-link">
                            <img src="img/logo/{{ company.logo }}" class="img-centered"  height="150px" alt="{{ company.name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>